In [1]:
#Import dependencies
import pandas as pd
import gmaps
import requests
#import api key
from config import g_key

In [2]:
%matplotlib inline

In [3]:
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Powell River,CA,2022-03-26 03:14:54,49.8496,-124.5361,48.47,82,100,2.01
1,1,Albany,US,2022-03-26 03:14:54,42.6001,-73.9662,45.36,80,100,4.00
2,2,Cape Town,ZA,2022-03-26 03:12:32,-33.9258,18.4232,61.27,70,92,8.28
3,3,Longyearbyen,SJ,2022-03-26 03:13:16,78.2186,15.6401,1.24,71,20,5.75
4,4,Atar,MR,2022-03-26 03:14:55,20.5169,-13.0499,67.19,28,61,7.27
...,...,...,...,...,...,...,...,...,...,...
517,517,Killam,CA,2022-03-26 03:29:44,52.7834,-111.8518,30.15,74,95,14.97
518,518,Flinders,AU,2022-03-26 03:29:45,-34.5833,150.8552,74.05,73,50,1.99
519,519,Araripe,BR,2022-03-26 03:29:45,-7.2125,-40.0461,68.65,80,100,3.74
520,520,Ust-Nera,RU,2022-03-26 03:29:46,64.5667,143.2000,7.79,86,100,4.03
521,521,Nyurba,RU,2022-03-26 03:29:46,63.2842,118.3319,21.31,92,100,0.98

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center = (30, 31), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) 
                                       & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,La Primavera,CO,2022-03-26 03:14:56,5.4906,-70.4092,84.33,56,99,1.41
9,9,Mopti,ML,2022-03-26 03:14:57,14.6667,-4.0000,85.14,44,45,11.39
13,13,Vaini,TO,2022-03-26 03:11:56,-21.2000,-175.2000,82.56,74,20,11.50
21,21,Kahului,US,2022-03-26 03:14:19,20.8947,-156.4700,80.62,65,20,21.85
24,24,Rikitea,PF,2022-03-26 03:15:00,-23.1203,-134.9692,79.95,72,62,16.84
...,...,...,...,...,...,...,...,...,...,...
473,473,Port Augusta,AU,2022-03-26 03:28:24,-32.5000,137.7667,80.51,20,0,4.63
489,489,Canton,CN,2022-03-26 03:24:43,23.1167,113.2500,82.35,78,94,2.55
493,493,Sikasso,ML,2022-03-26 03:28:32,10.9167,-7.0000,76.78,74,56,8.55
495,495,Sarankhola,BD,2022-03-26 03:28:32,22.3082,89.7897,87.87,55,48,13.51
507,507,Phangnga,TH,2022-03-26 03:28:38,8.4509,98.5298,87.84,62,2,1.05

In [12]:
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng' ]].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
8   La Primavera      CO     84.33   5.4906  -70.4092
9          Mopti      ML     85.14  14.6667   -4.0000
13         Vaini      TO     82.56 -21.2000 -175.2000
21       Kahului      US     80.62  20.8947 -156.4700
24       Rikitea      PF     79.95 -23.1203 -134.9692
27          Gizo      SB     79.38  -8.1030  156.8419
28  Puerto Ayora      EC     77.16  -0.7393  -90.3518
34       Mayumba      GA     78.55  -3.4320   10.6554
40         Tabuk      PH     86.63  17.4189  121.4443
41          Tual      ID     81.77  -5.6667  132.7500

In [13]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    'rankby': 'prominence',
    "types": "lodging",
    'keyword': 'hotel',
    "key": g_key}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,La Primavera,CO,84.33,5.4906,-70.4092,La Riviera Hotel Colonial
9,Mopti,ML,85.14,14.6667,-4.0000,
13,Vaini,TO,82.56,-21.2000,-175.2000,Paradise First Hotel
21,Kahului,US,80.62,20.8947,-156.4700,Maui Seaside Hotel
24,Rikitea,PF,79.95,-23.1203,-134.9692,People ThankYou
27,Gizo,SB,79.38,-8.1030,156.8419,Rekona Lodge
28,Puerto Ayora,EC,77.16,-0.7393,-90.3518,Lobo de Mar
34,Mayumba,GA,78.55,-3.4320,10.6554,LIKWALE LODGE
40,Tabuk,PH,86.63,17.4189,121.4443,Davidson Hotel
41,Tual,ID,81.77,-5.6667,132.7500,Grand Vilia Hotel

In [15]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [17]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))